@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container col-md-8 text-center">
    <div class="align-items-center">
        <div class="bannerw3-content mt-lg-5 mt-4">
            <span class="title-small text-white-50">Hoş geldiniz.</span>
            <h3 class="mb-2 title text-white">
                <span>
                    Apsis, <br class="text-white-50">bir apartman yönetim sistemidir.
                </span>
            </h3>
            <p class="mt-4 pr-lg-5 text-white-50">
                Burada aidatlarınızın tarihini ve durumunu öğrenebilir
                <br />aynı zamanda yönetimini yapabilirsiniz.
            </p>
        </div>
    </div>
</div>
<div class="col-md-12 mt-lg-5" align="center">
    <img src="~/img/logo.png" style="width: 50%;height: 50%;" />
    <p class="fixed-bottom text-center text-white-50">
        Talib Yeşildal tarafından hazırlanmıştır.
    </p>
