
@{
    ViewData["Title"] = "Hata";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container col-md-8 text-center">
    <div class="align-items-center">
        <div class="bannerw3-content mt-lg-5 mt-4">
            <span class="title-small text-white-50">Bir sorun var.</span>
            <h3 class="mb-2 title text-white">
                <span>
                    Lütfen, <br class="text-white-50">kayıtlı bir hesabınız olduğundan emin olun.
                </span>
            </h3>
            <p class="mt-4 pr-lg-5 text-danger">
                Şifreniz veya kullanıcı adınız
                <br />hatalı.
            </p>
        </div>
    </div>
</div>

