
@{
    ViewData["Title"] = "Lütfen giriş yapınız...";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12 mt-lg-5" align="center">
    <img src="~/img/logo.png" style="width: 50%;height: 50%;" />
</div>
<div class="container col-md-8 text-center">
    <div class="align-items-center">
        <div class="bannerw3-content mt-lg-5 mt-4">
            <span class="title-small text-white-50">Hoş geldiniz.</span>
            <h3 class="mb-2 title text-white">
                <span>
                    Apsis <br class="text-white-50">yönetici arayüzüne ulaşmak için giriş yapınız.
                </span>
            </h3>
        </div>
    </div>
</div>
<div class="col-md-12 mt-lg-5" align="center">
    <section class="w3l-login-form">
        <img src="~/img/yönetici.png" style="width: 15%;height: 15%;" />
        <div id="form-section">
            <div>
                <div class="login-form">
                    <form action="Kontrol2" method="post">
                        <div class="form-fields d-grid">
                            <input type="text" name="HesapID" placeholder="Kullanıcı Adı" required="required" />
                            <input type="password" name="HesapPW" placeholder="Şifre" required="required" />
                        </div>
                        <button type="submit">Giriş</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>


